$bg: #14151c;
$bg-alt: #181b24;
$fg: #FDFDFD;
$black: #414868;
$gray: #5c6370;
$red: #F37F97;
$green: #60c98c;
$yellow: #F2A272;
$blue: #8897F4;
$magenta: #B043D1;
$cyan: #79E6F3;
$archicon: #0f94d2;
